<mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange(selectedDate)">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button mat-raised-button class="btn" (click)="confirm()" [ngClass]="{'disabled': errorMessage}">Confirm</button>
<button mat-raised-button class="btn" (click)="close()">Cancel</button>
<div *ngIf="errorMessage" class="alert alert-danger m-2" role="alert">
    {{errorMessage}}
</div>
